<table class="table session-list-table">
  <thead>
  <tr>
    <th scope="col">Session ID</th>
    <th scope="col">Session Topic</th>
    <th scope="col">Session Start Time</th>
  </tr>
  </thead>
  <tbody>
  <% @sessions.each do |session| %>
    <tr>
      <td><%= session.id %></td>
      <td><%= session.topic %></td>
      <td><%= session.start_time %></td>
    </tr>
  <% end %>
  </tbody>
</table>