<div class="row">
  <div class="col-md-12 classistant-body">
    <div class="heading">
      <h2>Join a Session</h2>
      <p>To join a Session simply enter the Session Code</p>
    </div>

    <div class="classistant-form centered-form">



    </div>
  </div>
</div>