<div class="row">
  <div class="col-md-12">
      <h2 class="heading">Lecturer Dashboard</h2>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-12">
    <div class="tile">
      <h3>Create a new Class</h3>
      <hr>
      <%= link_to("Create a Class", new_classgroup_url, class: "btn btn-primary") %>
    </div>
  </div>
</div>