<div class="row">
  <div class="col-md-12">
    <div class="jumbotron">
      <h2 class="heading">Dashboard</h2>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-3 dashboard-option">
    <p>Classes</p>
  </div>
  <div class="col-md-3 dashboard-option">
    <p>Settings</p>
  </div>
  <div class="col-md-3 dashboard-option">
    <p>Performance</p>
  </div>
  <div class="col-md-3 dashboard-option">
    <p></p>
  </div>
  <div class="col-md-3 dashboard-option">
    <p>Enroll</p>
  </div>  
</div>
