<div class="row">
  <div class="col-md-12">
    <div class="jumbotron">
      <h2 class="heading">Dashboard</h2>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-3 dashboard-option">
    <%= image_tag("placeholder.jpg", :alt => "A Placeholder Image", class: "img-circle dashboard-image") %>
    <p>Classes</p>
  </div>
  <div class="col-md-3 dashboard-option">
    <%= image_tag("placeholder.jpg", :alt => "A Placeholder Image", class: "img-circle dashboard-image") %>
    <p>Join Session</p>
  </div>
  <div class="col-md-3 dashboard-option">
    <%= image_tag("placeholder.jpg", :alt => "A Placeholder Image", class: "img-circle dashboard-image") %>
    <p>Enroll</p>
  </div>
  <div class="col-md-3 dashboard-option">
    <%= image_tag("placeholder.jpg", :alt => "A Placeholder Image", class: "img-circle dashboard-image") %>
    <p>Settings</p>
  </div>
</div>
