<div class="row">
  <div class="col-md-12">
    <div class="jumbotron">
      <h1 class="heading">Welcome to Classistant</h1>
    </div>
  </div>
</div>
<div class="row classistant-body">
  <div class="col-md-12">
    <h2 class="heading">Welcome to Classistant</h2>
    <div class="col-md-6">
      <div class="index-access">
        <h3 class="heading">Register a new Account</h3>
      </div>
    </div>
    <div class="col-md-6">
      <div class="index-access">
        <h3 class="heading">Already a member? Sign in!</h3>
      </div>
    </div>
  </div>
</div>
