<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
</head>
<body>
<h1>Thank you for Participating in todays Session!</h1>
<p>
  Dear <%= @student.full_name %>,
</p>

<p>
  It would seem that you had difficulties understanding the content of today's class. Thankfully, the lecturer has provided the following resources to try help you gain a greater understanding of today's content
</p>
<p>
  Todays Topic: <%= @session.topic %>
</p>
<p>
  <%= @session.extra_help %>
</p>
<p>
  Kind Regards,
</p>
<p>
  Classistant
</p>
</body>
</html>