<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
</head>
<body>
<h1>This is an Urgent Notice from Classistant</h1>
<p>
  Dear <%= @student_name %>
</p>

<p>
  It appears that you are not performing so well in <%= @class_name %>
</p>
<p>

</p>
<p>
  To login to the site, just follow this link:.
</p>
<p>Thanks for joining and have a great day!</p>
</body>
</html>