<table class="table session-list-table">
  <thead>
  <tr>
    <th scope="col">Quiz Name</th>
  </tr>
  </thead>
  <tbody>
  <% @quizzes.each do |quiz| %>
    <tr>
      <td><%= quiz.quiz_name%></td>
      <td>Delete Button Goes here</td>
    </tr>
  <% end %>
  </tbody>
</table>

