// Place all the styles related to the classgroups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.class-heading {
  padding: 1em;
}

.class-description {
  margin-top: 1em;
}

.class-body {
  background-color: #ECF0F1;
}

.class-image-container {
  padding-top: 1em;
}

.class-image {
  width: 10em;
  height: 10em;
  display: block;
  margin: 0 auto;
}

.class-top-row {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.class-list-view {
  padding: 1em;
}

.class-list-row {
  margin-bottom: 1em;
  border: 1px #d3dcde solid;
  border-radius: .3em;
}

.class-list-image {
  width: 5em;
  height: 5em;
  float:right;
}

.new-class-btn {
  float: right;
}

.class-crud-button {
  margin-top: .5em;
}

.class-form-btn {
  padding: 10em;
}

.class-form-body {
  padding-bottom: 1em;
}

.not-enrolled-back-btn {
  text-align: center;
}

.start-session-btn {
  float: right;
}

.create-quiz-btn {
  width: 11em !important;
  float: right;
}

.classgroup-body {
  margin-bottom: 1em;
}

.student-warning {
  background-color: #E67E22;

}

.student-critical {
  background-color: #F03434;
  opacity: .9;
  font-weight: bold;
  text-decoration: underline;
}