// Place all the styles related to the class_session controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#chat-messages { }

.message-box {
  width: 80%;
  height: 20em;
  overflow-y: scroll;
  border: 1px #bfbfbf solid;
  background-color: #ffffff;
  -webkit-border-radius: .2em;
  -moz-border-radius: .2em;
  border-radius: .2em;
}

.chat-form {
  margin: 0 auto;
}

.message-box > p {
  margin-bottom: 5px;
}

.chat-data, .poll-data, .quiz-data, .mid {
  display: none;
}

.message-field {
  width: 65%;
  margin-top: 1em;
  padding: .5em;
}

.chat-btn {
  width: 15%;
}

.anon-label {
  margin-top: .5em;
}

.message-box > p {
  padding: .2em;

}

.chat-timestamp {
  font-size: .8em;
  font-style: italic;
}

.lecturer-name {
  font-weight: bold;
}

.lecturer-message {
  background-color: #e6e6e6;
  
}

.session-body {
  margin-bottom: 3em;
  padding-bottom: 3em;
}

.student-interaction {

}

#text-poll-div, #image-poll-div, #quiz-question-div {
  display: none;
}

.poll-buttons {
  text-align: center;
  padding-bottom: 1em;

}

.poll-buttons > button {
  width: 20%;
}

#poll-response-pie, #quiz-response-graph {
  display: none;
}

.poll-btn {
  width: 40%;
}

.interaction-box {
  max-height: 15em;
  overflow-y: scroll;
}

.quiz-option {
  height: 34px;
  margin-bottom: 5px;
}

.quiz-question {
  border: 1px solid;
  border-radius: .3em;
  background-color: #D2D7D3;
  padding: 1em;
}

.quiz-field {
  margin-bottom: 1em;
  width: 40%;
}

.quiz-submit {
  margin-top: 1em;
  margin-bottom: 5em;
  width: 100%;
}

.quiz-form {
  margin-bottom: 1em;
}

.question-wrap > p {
  margin-bottom: 0;
}

#question-messages > .question-wrap:nth-child(even){
  background-color: #DADFE1;
}

.answer-btn {
  font-size: 8px;
  margin-bottom: .6em;

}

.answer-label {
  font-style: italic;
}

@media screen and (max-width: 992px) {
  .message-box {
    margin: 0 auto;
  }

  .chat-form, .question-form {
    width: 80%;
    margin: 0 auto;
  }

  .message-field {
    width: 83%;
  }
  
  .message-box-heading {
    text-align: center;
  }

}

