// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.dashboard-option {
  text-align: center;
}

.dashboard-image {
  width: 10em;
  height: 10em;
}