// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.dashboard-option {
  text-align: center;
}

.dashboard-image {
  width: 10em;
  height: 10em;
}

.dashboard-btn {
  margin-top: .5em;
  width: 8em;
}

.dashboard-row {
  margin-bottom: 2em;
}

.dashboard-profile-btn {
  background-color: #523f70;
}

.dashboard-profile-btn:hover {
  background-color: #3c2e52;
}
.dashboard-settings-btn {
  background-color: #25b7d3;
}

.dashboard-settings-btn:hover {
  background-color: #22a8c3;
}

.dashboard-session-btn {
  background-color: #50adcf;
}

.dashboard-session-btn:hover {
  background-color: #37a1c8;
}

.dashboard-enroll-btn {
  background-color: #324a5e;
}

.dashboard-enroll-btn:hover {
  background-color: #233543;
}

.dashboard-class-list-btn {
  background-color: #e04f5f;
}

.dashboard-class-list-btn:hover {
  background-color: #d9263b;
}




