.heading {
  text-align: center;
}

.hr-dark {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #BFBFBF;
  margin: 1em 0;
  padding: 0;
}

.classistant-body {
  background-color: #eeeeee;
  border: 1px #d9d9d9 solid;
  -webkit-border-radius: .3em;
  -moz-border-radius: .3em;
  border-radius: .3em;
}