.profile-body {
  padding-top: 1em;
}

.statistics-table {

}

.statistics-table > tbody > tr:nth-child(odd) {
  background-color: #DADFE1;
}

.stat-value {
  text-align: center;
}

.badge-image {
  width: 5em;
  height: 5em;
}

.badge-row > div > p {
  font-weight: bold;
}