<div class="row classistant-body class-form-body">

  <div class="col-md-12 standard-form">

    <div class="classistant-form">

      <h2>Edit Class</h2>
      <hr class="hr-dark">

      <%= render 'form', clasgroup: @classgroup%>

    </div>
  </div>
</div>

<% link_to 'Back', dashboard_index_url%>
