<div class="row">

  <div class="col-md-12 standard-form">

    <div class="classistant-form">

      <h2>Create a Class</h2>
      <hr>

      <%= render 'form'%>

    </div>
  </div>
</div>

<% link_to 'Back', dashboard_index_url%>