<div class="row">
  <div class="col-md-12">
    <div class="jumbotron">
      <h2 class="heading">Your Profile</h2>
    </div>
  </div>
</div>
<div class="row classistant-body">
  <div class="col-md-12">
    <hr>
    <h2>Statistics</h2>
    <hr class="hr-dark">
    <table class="table statistics-table">
      <thead>
      <tr>
        <th scope="col">Statisitc</th>
        <th scope="col" class="stat-value">Value</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>Number of Classes Owned</td>
        <td class="stat-value"><%= @lecturer.classgroups.count() %></td>
      </tr>
      <tr>
        <td>Number of Chat Messages Sent</td>
        <td class="stat-value"><%= @lecturer.chatmessages.count() %></td>
      </tr>
      <tr>
        <td>Number of Answers Given</td>
        <td class="stat-value"><%= @lecturer.answermessages.count() %></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

